<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microdesafio 2</title>
  <style>
    body {
      background-color: <%=data.color%>;
    }
  </style>
</head>
<body>
  <h1>Bienvenidos a la respuesta de Session & Cookies Mini Project</h1>
  <p>Hola: <%= data.name %> </p>
  <p>Elegiste el color: <%= data.color %> </p>
  <p>Tu email es: <%= data.email %> </p>
  <p>Y tu edad es: <%= data.age %> </p>
  <a href="/">Volver al inicio</a><br>
  <a href="/responsev2">Siguiente página (Mantener color en background)</a>
</body>
</html>